<div class="resultado">
  <header>
  <img id="img2" src="assets/img/everis-logo.png">
  </header>
    <button id="result" type="submit" >RESULTADO</button>
  </div>
  <h2>Proposta Nº 00001​</h2>
  <p>
  Infelizmente não foi possível aprovar seu financiamento, mais não desanime, reunimos algumas dicas que podem te ajudar na sua próxima simulação:​
</p>
  <li>Mantenha seu CPF em dia e sem restrições.</li> ​
  <li>Dados de endereço, e-mail, telefone sempre atualizados.</li> ​
  <li>Insira mais um participante em sua proposta.​</li>
  <li>Melhore seu relacionamento com o banco, abrindo uma conta.</li>
