
form {
  font-size: white;
}
span {
  color:red;
  font-style: italic;
}
#img2 {
  width:25%;
  margin:-150px 20px 0px 0px
}
h1 {
    width: 70%;
    margin:20px 20px 20px 330px;
    font-size: 35px;
  }
  header {
    width: 100%;
  }
.dados2 {
  width: 120%;
  color: white;
  margin:-50px 0px 0px 20px;
}
.dados1 {
  width: 120%;
  color: white;
  margin:-50px 0px 0px 90px;
}
.btn-btn2 {
  width: 90%;
  height: 35px;
  font-size: 15px;
  margin: 30px 0px 0px 0px;
}
.btn-btn {
  width: 90%;
  height: 35px;
  font-size: 15px;
  margin: 3px 0px 0px 0px;
}
.form-control {
  background:transparent;
  color:white;
}

input.form-control.ng-pristine.ng-invalid.ng-touched {
  color:white
}
@media screen and (max-width: 600px)  {

  html {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
#img2 {
  width: 45%;
  margin:-80px 0px 0px 0px
}
header {
  width: 100%;
}
h1 {
  width: 70%;
  margin:20px 0px 0px 180px;
  font-size: 20px;

}
.dados2 {
  width: 120%;
  color: white;
  margin:-50px 0px 0px 50px;
}
.dados1 {
  width: 120%;
  color: white;
  margin:-50px 0px 0px 50px;
}
.proponente {
  width: 100%
}
.btn-btn2 {
  width: 120%;
  height: 15%;
  font-size: 15px;
  margin: 30px 0px 0px 0px;
}
.btn-btn {
  width: 120%;
  height: 15%;
  font-size: 15px;
  margin: 3px 0px 0px 0px;

}
}
