<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">

</head>
<body>
  <form>
    <div class="nome">
      <mat-form-field>
        <input matInput placeholder="Nome" [(ngModel)]="users.name" name="name">
      </mat-form-field>
    </div>
    <div class="idade">
      <mat-form-field>
      <input matInput placeholder="Idade" [(ngModel)]="users.age" name="idade">
    </mat-form-field>

    </div>

  </form>

  <button (click)="cancel()">Cancelar</button>
  <button routerLink="cadastrar" (click)="createName()" color="primary">Cadastrar</button>





</body>
</html>

