<div class="cred-reprovado">
  <header>
  <img id="img2" src="assets/img/everis-logo.png">
  </header>
    <button id="credrepro" routerLink="/cred-reprovado"type="submit" >REPROVADO</button>
  </div>
  <img id="img3" src="assets/img/negado.png">
  <h2>Proposta Nº 00001​</h2>
  <p>
    Infelizmente não foi possível aprovar seu crédito junto ao banco, mais não desanime, reunimos algumas dicas que podem​
    te ajudar na sua próxima simulação:
</p>
  <li>Mantenha seu CPF em dia e sem restrições.</li> ​
  <li>Dados de endereço, e-mail, telefone sempre atualizados.</li> ​
  <li>Insira mais um participante em sua proposta.​</li>
